@import './variables.scss';

.is-primary {
    color: $primary !important;
}
.is-secondary {
    color: $secondary !important;
}
.is-third {
    color: $third !important;
}
.is-fourth {
    color: $fourth !important;
}
.is-white {
  color: #bbbbbb !important;
}

.is-large {
    font-size: 100px;
}

.mt-7 {
    margin-top: 4rem !important;
}

.mb-negative-1 {
    margin-bottom: -0.25rem;
}
.mb-negative-2 {
    margin-bottom: -0.5rem;
}

.mt-negative-1 {
    margin-top: -0.25rem !important;
}
.mt-negative-2 {
    margin-top: -0.5rem !important;
}
.mt-negative-3 {
    margin-top: -0.75rem !important;
}
.mt-negative-4 {
    margin-top: -1rem !important;
}
.mt-negative-5 {
    margin-top: -1.5rem !important;
}
.mt-negative-6 {
  margin-top: -3rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.has-text-left {
    float: left;
}
.has-text-right {
    float: right;
}

.is-pointer {
    cursor: pointer;
}

.is-margin-auto {
  margin: 0 auto;
}

.is-full-width {
  width: 100%;
}

.is-border-radius-10 {
  border-radius: 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
